<header th:fragment="header">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="/tours/list">Tours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="/drivers/list">Drivers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="/guides/list">Guides</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="/tours/init">Initialize</a>
        </li>
<!--        <li class="nav-item">-->
<!--            <a class="nav-link disabled" href="#">Disabled</a>-->
<!--        </li>-->
<!--        <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
<!--            <div class="dropdown-menu" style="">-->
<!--                <a class="dropdown-item" href="#">Action</a>-->
<!--                <a class="dropdown-item" href="#">Another action</a>-->
<!--                <a class="dropdown-item" href="#">Something else here</a>-->
<!--                <div class="dropdown-divider"></div>-->
<!--                <a class="dropdown-item" href="#">Separated link</a>-->
<!--            </div>-->
<!--        </li>-->
    </ul>
</header>