<header th:fragment="header">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link disabled" data-toggle="tab" href="#">DaVinci</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="/tours/list">Tours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="/drivers/list">Drivers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="/guides/list">Guides</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="/tours/init">Initialize</a>
        </li>
    </ul>
</header>