<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add/edit driver</title>
</head>
<body>
    <div align="left">
        <h1>Add/edit driver</h1>
        <br/>
        <!--/*@thymesVar id="driver" type="stanislav.tun.novinomad.picasso.persistance.pojos.Driver"*/-->
        <form action="#" th:action="@{/drivers/save}" th:object="${driver}" method="post">
            <table border="0" cellpadding="10">
                <tr>
                    <td>First name:</td>
                    <td><input type="text" th:field="*{firstName}"/></td>
                </tr>

                <tr>
                    <td>Middle name:</td>
                    <td><input type="text" th:field="*{middleName}"/></td>
                </tr>

                <tr>
                    <td>Last name:</td>
                    <td><input type="text" th:field="*{lastName}"/></td>
                </tr>

                <tr>
                    <td colspan="2">
                        <button type="submit">Confirm</button>
                    </td>
                </tr>

            </table>
            <!--need for edit function, to auto populate fields with data of driver taken by given id-->
            <input type="hidden" th:field="*{id}">
        </form>
        <a href="/drivers/list">Back to list of drivers</a>
    </div>
</body>
</html>