<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/mainLayout}">
<head>
	<meta charset="UTF-8">
	<title>Add/edit driver</title>
<!--	<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}">-->
</head>

<body class="jumbotron">
<div layout:fragment="content">
	<!--/*@thymesVar id="error" type="java.lang.String"*/-->
	<h1>create / edit driver</h1>
	<br/>
	<!--/*@thymesVar id="driver" type="stanislav.tun.novinomad.picasso.persistance.pojos.Driver"*/-->
	<form action="#" th:action="@{/drivers/save}" th:object="${driver}" method="post">
		<div th:if="${error}" >
			<script th:inline="javascript">
                $(document).ready(function () {
                    $("#myModal").modal("show");
                });
			</script>

			<div th:replace="fragments/notification"></div>
		</div>

		<table border="0" cellpadding="10">
			<tr>
				<td>First name:</td>
				<td><input type="text" th:field="*{firstName}"/></td>
			</tr>

			<tr>
				<td>Middle name:</td>
				<td><input type="text" th:field="*{middleName}"/></td>
			</tr>

			<tr>
				<td>Last name:</td>
				<td><input type="text" th:field="*{lastName}"/></td>
			</tr>

			<tr>
				<td>Car:</td>
				<td><input type="text" th:field="*{car}"/></td>
			</tr>

			<tr>
				<td colspan="2">
					<button type="submit" class="btn btn-outline-success">Confirm</button>
				</td>
			</tr>

		</table>
		<!--need for edit function, to auto populate fields with data of driver taken by given id-->
		<input type="hidden" th:field="*{id}">
	</form>
</div>
</body>
</html>