<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Add/edit guide</title>
</head>
<body class="jumbotron">
<div layout:fragment="content" >
    <h1>create/edit guide</h1>
    <br/>
    <!--/*@thymesVar id="guide" type="stanislav.tun.novinomad.picasso.persistance.pojos.Driver"*/-->
    <form action="#" th:action="@{/guides/save}" th:object="${guide}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>First name:</td>
                <td><input required="required" type="text" th:field="*{firstName}"/></td>
            </tr>

            <tr>
                <td>Middle name:</td>
                <td><input title="Optional field. Leave empty if not needed" type="text" th:field="*{middleName}"/></td>
            </tr>

            <tr>
                <td>Last name:</td>
                <td><input required="required" type="text" th:field="*{lastName}"/></td>
            </tr>

            <tr>
                <td>Language:</td>
                <td><input title="Optional field. Leave empty if not needed" type="text" th:field="*{language}"/></td>
            </tr>

            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-outline-success">Confirm</button>
                </td>
            </tr>

        </table>
        <!--need for edit function, to auto populate fields with data of guide taken by given id-->
        <input type="hidden" th:field="*{id}">
    </form>

</div>
</body>
</html>