<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Add/edit tour</title>
</head>
<body>
<div align="left">
	<h1>Add/edit tour</h1>
	<br/>
	<!--/*@thymesVar id="tour" type="stanislav.tun.novinomad.picasso.persistance.pojos.Tour"*/-->
	<!--/*@thymesVar id="drivers" type="java.util.List<stanislav.tun.novinomad.picasso.persistance.pojos.Driver>"*/-->
	<form action="#" th:action="@{/tours/save}" th:object="${tour}" method="post">
		<table border="0" cellpadding="10">
			<tr>
				<td>Tittle:</td>
				<td><input type="text" th:field="*{tittle}"/></td>
			</tr>
			<tr>
				<td>Start date:</td>
				<td><input id="startDate" type="datetime-local" th:field="*{startDate}"/></td>
			</tr>
			<tr>
				<td>End date:</td>
				<td><input id="endDate" type="datetime-local" th:field="*{endDate}"/></td>
			</tr>
			<tr>
				<!--<td>Attach a driver</td>-->
				<td>
					<!--<script th:src="@{/js/openIntervalInput.js}" type="text/javascript"></script>-->
					<p>Attach driver</p>
					<!--th:onselect="'addInput();'"-->
					<select th:name="drivers2attach" multiple="multiple" id="attachDrivers">
						<!--/*@thymesVar id="drivers" type="java.util.List<stanislav.tun.novinomad.picasso.persistance.pojos.Driver>"*/-->
						<option th:each="d : ${drivers}" th:value="${d.id}"
						        th:text="${d.getId()+' '+d.fullName}">
						</option>

					</select>
					<!--					<form>-->
					<!--						<div id="attachInterval"> </div>-->
					<!--					</form>-->
				</td>
				<!--				<td>Exclude driver</td>-->
				<td>
					<p>Exclude driver</p>
					<select th:name="drivers2exclude" multiple="multiple">

						<!--/*@thymesVar id="id" type="java.lang.Long"*/-->
						<option th:each="d : ${driversExclude}" th:value="${d.id}"
						        th:text="${d.id+' '+d.fullName}">
					</select>
				</td>
			</tr>
			<tr>
				<td>Description:</td>
				<td><input type="text" th:field="*{description}"/></td>
			</tr>
			<tr>
				<td colspan="2">
					<script th:src="@{/js/openIntervalInput.js}" type="text/javascript"></script>
					<button id="advancedButton" type="submit" th:name="adv" th:value="true" class="link-button">advanced options</button>
					<button type="submit">Confirm</button>
				</td>
			</tr>
		</table>
		<input type="hidden" th:field="*{id}">

		<dialog id="advancedDialog">
			<p>This is an HTML dialog! Click the button to close it.</p>
			<button id="close">close</button>
		</dialog>
	</form>
	<a href="/tours/list">Back to tours list</a>
</div>
</body>
<!--<script>-->
<!--    var dialog = document.querySelector('dialog');-->

<!--    document.querySelector('#advancedButton').onclick = function() {-->
<!--        dialog.show();-->
<!--    };-->
<!--    document.querySelector('#close').onclick = function() {-->
<!--        dialog.close();-->
<!--    };-->
<!--</script>-->
</html>