<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Advanced</title>
	<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
	<style>
		#block{
			margin: 12px;
		}
	</style>
</head>
	<body>
		<form th:action="@{/tours/advanced/save}" th:object="${driversWrapper}" method="post">
			<h1 th:text="${'Tour id: '+tour.id+' tittle: '+tour.tittle}"></h1>
			<table>
				<tr>
					<th>Drivers:</th>
					<th>Days:</th>
				</tr>
				<tr th:each="entry : ${driversWrapper.map.entrySet()}">
					<td th:text="${entry.key.fullName}" ></td>
					<td><input type="text" th:field="*{map[__${entry.key.id}__]}" ></td>
<!-- row invokes error	Error during execution of processor 'org.thymeleaf.spring5.processor.SpringInputGeneralFieldTagProcessor'				<td><input type="text" th:field="*{map['__${entry.key.id}__']}"></td>-->
				</tr>
			</table>
<!--			<input type="hidden" th:name="tour" th:value="${tour}">-->
			<button type="submit">send to controller</button>
<!--			<div th:each="entry:${driversWrapper.map.entrySet()}">-->
<!--				<label th:for="*{map['__${entry.key}__']}" th:text="${netry.key.fullName}"></label>-->
<!--			</div>-->
		</form>
	</body>
</html>
<!--<form action="#" th:action="@{/someendpoint}" th:object="${DriverTourDays}" method="post">-->
<!--	<input type="text" th:field="*{driversDays}" />-->
<!--	<td><input type="submit" name="submit" class="button" value="Send" /></td>-->
<!--</form>-->