<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Advanced</title>
	<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
	<style>
		#block{
			margin: 12px;
		}
	</style>
</head>
	<body>
	<div style="margin-left: 20px;">
		<h1 th:text="${tour.tittle}"></h1>
		<p>Add tour interval for drivers</p>
		<form id="driverIntervals" th:action="@{/advanced/go}" th:object="${driversDays}" method="post">
			<table>
				<tr>
					<td>Drivers:</td>
					<td>Date:</td>
				</tr>
				<tr th:each="d: ${attachedDrivers}">
					<td th:text="${d.id+' '+d.fullName}" >
						<input type="hidden" th:value="${d.id}" >
					</td>
					<td>
						<input type="text" placeholder="Pick days" th:name="days"/>
					</td>
				</tr>
			</table>
			<input type="hidden" th:name="tourId" th:value="${tour.id}"/>
			<button type="submit">Confirm</button>
		</form>
	</div>
	</body>
</html>
<!--<form action="#" th:action="@{/someendpoint}" th:object="${DriverTourDays}" method="post">-->
<!--	<input type="text" th:field="*{driversDays}" />-->
<!--	<td><input type="submit" name="submit" class="button" value="Send" /></td>-->
<!--</form>-->