<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Advanced</title>
	<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
	      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	      crossorigin="anonymous">

	<link href="/css/calendar.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	        crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<script src="/js/multidatespicker.js" type="text/javascript"></script>
</head>
	<body>
		<form th:action="@{/tours/advanced/save}" th:object="${driversWrapper}" method="post">
			<h1 th:text="${'Tour id: '+tour.id+' tittle: '+tour.tittle}"></h1>
			<table>
				<tr>
					<th>Drivers:</th>
					<th>Days:</th>
				</tr>
				<tr th:each="entry : ${driversWrapper.map.entrySet()}">
					<td th:text="${entry.key.fullName}" ></td>
					<td>
						<div style="margin:20px;">
							<input type="text" id="selectedValues" class="date-values" readonly th:field="*{map[__${entry.key.id}__]}"/>
							<div id="parent" class="container" style="display:none;">
								<div class="row header-row">
									<div class="col-xs previous">
										<a href="#" id="previous" onclick="previous()">
											<i class="fa fa-arrow-left" aria-hidden="true"></i>
										</a>
									</div>
									<div class="card-header month-selected col-sm" id="monthAndYear">
									</div>
									<div class="col-sm">
										<select class="form-control col-xs-6" name="month" id="month" onchange="change()"></select>
									</div>
									<div class="col-sm">
										<select class="form-control col-xs-6" name="year" id="year" onchange="change()"></select>
									</div>
									<div class="col-xs next">
										<a href="#" id="next" onclick="next()">
											<i class="fa fa-arrow-right" aria-hidden="true"></i>
										</a>
									</div>
								</div>
								<table id="calendar">
									<thead>
									<tr>
										<th>Пн</th>
										<th>Вт</th>
										<th>Ср</th>
										<th>Чт</th>
										<th>Пт</th>
										<th>Сб</th>
										<th>Вс</th>
									</tr>
									</thead>
									<tbody id="calendarBody"></tbody>
								</table>
							</div>
						</div>
					</td>
				</tr>
<!--					<td><input type="text" th:field="*{map[__${entry.key.id}__]}" ></td>-->


<!-- row invokes error	Error during execution of processor 'org.thymeleaf.spring5.processor.SpringInputGeneralFieldTagProcessor'				<td><input type="text" th:field="*{map['__${entry.key.id}__']}"></td>-->

			</table>
<!--			<input type="hidden" th:name="tour" th:value="${tour}">-->
			<button type="submit">send to controller</button>
<!--			<div th:each="entry:${driversWrapper.map.entrySet()}">-->
<!--				<label th:for="*{map['__${entry.key}__']}" th:text="${netry.key.fullName}"></label>-->
<!--			</div>-->
		</form>
	</body>
</html>
<!--<form action="#" th:action="@{/someendpoint}" th:object="${DriverTourDays}" method="post">-->
<!--	<input type="text" th:field="*{driversDays}" />-->
<!--	<td><input type="submit" name="submit" class="button" value="Send" /></td>-->
<!--</form>-->