<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/mainLayout}">
<head>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-table/1.16.0/dist/bootstrap-table.min.css}">

	<link rel="stylesheet"
	      th:href="@{/webjars/bootstrap-table/1.16.0/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css}">
</head>

<body>
<div layout:fragment="content" class="jumbotron">
	<style>
		.fixed-table-container {
			top: 50px;
		}

		.fix-sticky {
			top: 114px;
		}

		.fixed-table-toolbar {
			z-index: 10000000;
			top: 56px;
			float: right;
			display: block;
			position: fixed;
			width: 96%;
			background-color: #e9ecef;
		}

		.loading-text {
			display: none;
		}

		.text_search_title {
			margin-top: 16px;
		}

	</style>
	<table id="table" class="table table-sm table-hover" data-toggle="table"
	       data-sticky-header-offset-left="2em" data-sticky-header-offset-right="2em"
	       data-sticky-header="true"
	       data-sticky-header-offset-y="114"
	       data-sortable="true"
	       data-show-columns="true" data-search="true">
		<!--			<caption>List of drivers</caption>-->
		<thead class="thead-dark sticky-header">
		<tr>
			<th data-sortable="true" data-field="id" class="th-inner sortable both">ID</th>
			<th data-sortable="true" data-field="name" class="th-inner sortable both">NAME</th>
			<th data-sortable="true" data-field="car" class="th-inner sortable both">CAR</th>
			<th>
				<a href="/drivers/add">
					<button type="button" class="btn btn-outline-success">create driver</button>
				</a>
			</th>
			<th></th>
		</tr>
		</thead>

		<tbody>
		<!--/*@thymesVar id="drivers" type="java.util.List<stanislav.tun.novinomad.picasso.persistance.pojos.Driver>"*/-->
		<tr th:each="driver:${drivers}">
			<td th:text="${driver.getId()}"></td>
			<td>
				<a th:href="@{/getViewRelatedToDriver{driverId}(driverId=${driver.id})}"
				   th:text="${driver.fullName}"></a>
			</td>
			<td th:text="${driver.getCar()}"></td>
			<td>
				<a th:href="@{/drivers/edit{id}(id=${driver.getId()})}">
					<button type="button" class="btn btn-outline-info btn-sm">edit</button>
				</a>
				<!--                    <button th:target="@{/drivers/edit{id}(id=${driver.getId()})}" type="button" class="btn btn-outline-secondary">edit</button>-->
			</td>
			<td>
				<a th:href="@{#}">
					<button type="button" class="btn btn-outline-danger btn-sm">delete</button>
				</a>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<th:block layout:fragment="script">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	        crossorigin="anonymous"></script>

	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

	<script type="text/javascript"
	        th:src="@{/webjars/bootstrap-table/1.16.0/dist/bootstrap-table.min.js}"></script>
<!--	<script type="text/javascript"-->
<!--	        th:src="@{/webjars/bootstrap-table/1.16.0/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js}">-->
<!--	</script>-->

	<script th:src="@{/js/customStickyHeader.js}"></script>
	<script>
        $(document).ready(function () {
            console.log("text inserted!");
            $("<h4 class=\"text_search_title\" >Drivers list</h4>").appendTo(".fixed-table-toolbar");
        });
	</script>

</th:block>
</body>
</html>