<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Drivers</title>
</head>

<body>
<div align="center">
    <h1>Drivers</h1>
    <br/>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>

        <tbody>
        <!--/*@thymesVar id="drivers" type="java.util.List<stanislav.tun.novinomad.picasso.persistance.pojos.Driver>"*/-->
            <tr th:each="driver:${drivers}">
                <td th:text="${driver.id}"/>
                <td th:text="${driver.getFullName()}"/>
            </tr>
        </tbody>
    </table>

    <a href="/picasso/drivers/add">Add new driver</a>
</div>

</body>
</html>