<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/mainLayout}">
<head>
    <style>
        th {
			position: sticky;
			top: 55px;
			box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
		}
    </style>
</head>

<body>
<div layout:fragment="content" class="jumbotron">
    <table id="table" class="table table-sm table-hover">
        <!--			<caption>List of drivers</caption>-->
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>CAR</th>
            <th>CREATED BY</th>
            <th>
                <a href="/drivers/add">
                    <button type="button" class="btn btn-sm btn-outline-success">create driver</button>
                </a>
            </th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <!--/*@thymesVar id="drivers" type="java.util.List<stanislav.tun.novinomad.picasso.persistance.pojos.Driver>"*/-->
        <tr th:each="driver:${drivers}">
            <td th:text="${driver.getId()}"></td>
            <td>
                <a th:href="@{/picasso/getViewRelatedToDriver{driverId}(driverId=${driver.id})}"
                   th:text="${driver.fullName}"></a>
            </td>
            <td th:text="${driver.getCar()}"></td>
            <td th:text="${driver.getCreatedBy()}"></td>
            <td>
                <a th:href="@{/drivers/edit{id}(id=${driver.getId()})}">
                    <button type="button" class="btn btn-outline-info btn-sm">edit</button>
                </a>
                <!--                    <button th:target="@{/drivers/edit{id}(id=${driver.getId()})}" type="button" class="btn btn-outline-secondary">edit</button>-->
            </td>
            <td>
                <a th:href="@{/drivers/delete{id}(id=${driver.getId()})}">
                    <button onclick="return confirm('Are you sure?') ? true : false;" type="button" class="btn btn-outline-danger btn-sm">delete
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block layout:fragment="script">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

    <script>
        function deleteConfirm() {
               var retVal = confirm("Do you want to continue ?");
               if( retVal == true ) {
                  document.write ("User wants to continue!");
                  return true;
               } else {
                  document.write ("User does not want to continue!");
                  return false;
               }
            }
    </script>

</th:block>
</body>
</html>