<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/mainLayout}">
<head>
    <script type="text/javascript" th:src="@{/js/sortScript.js}"></script>
</head>

<body>
<div layout:fragment="content" >
    <h1>Guides</h1>
    <br/>
    <table class="table table-striped" id="guidesList">
        <thead>
        <tr>
            <th onclick="sortTable(0,'guidesList')">
                <button type="button" class="btn btn-outline-info btn-sm">ID</button>
            </th>
            <th onclick="sortTable(1,'guidesList')">
                <button type="button" class="btn btn-outline-info btn-sm">NAME</button>
            </th>
            <th onclick="sortTable(2,'guidesList')">
                <button type="button" class="btn btn-outline-info btn-sm">LANGUAGE</button>
            </th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <!--/*@thymesVar id="guides" type="java.util.List<stanislav.tun.novinomad.picasso.persistance.pojos.guide>"*/-->
        <tr th:each="guide:${guides}">
            <td th:text="${guide.getId()}"></td>
            <td>
                <a th:href="@{/getViewRelatedToGuide{guideId}(guideId=${guide.id})}" th:text="${guide.fullName}"></a>
            </td>

            <td th:text="${guide.getLanguage()}"></td>
            <td>
                <a th:href="@{/guides/edit{id}(id=${guide.getId()})}">
                    <button type="button"  class="btn btn-outline-info btn-sm" >edit</button>
                </a>
                <!--                    <button th:target="@{/guides/edit{id}(id=${guide.getId()})}" type="button" class="btn btn-outline-secondary">edit</button>-->
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/guides/add">
        <button type="button" class="btn btn-outline-success">add new guide</button>
    </a>
</div>

</body>
</html>