<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/mainLayout}">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-table/1.16.0/dist/bootstrap-table.min.css}">

    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap-table/1.16.0/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css}">
</head>

<body>
<div layout:fragment="content" class="jumbotron">
    <style>
        .fixed-table-container{
            top:50px;
        }
        .fix-sticky{
            top:114px;
        }
        .fixed-table-toolbar{
            z-index: 10000000;
            top: 56px;
            float: right;
            display: block;
            position: fixed;
            width: 96%;
            background-color: #e9ecef;
        }
        .loading-text {
            display: none;
        }

        .text_search_title{
            margin-top: 16px;
        }

    </style>
    <table id="table" class="table table-sm" data-toggle="table"
           data-sticky-header-offset-left="2em" data-sticky-header-offset-right="2em"
           data-sticky-header="true"
           data-sticky-header-offset-y="114"
           data-sortable="true"
           data-show-columns="true" data-search="true">
        <caption>List of guides</caption>
        <thead class="thead-dark sticky-header">
        <tr>
            <th data-sortable="true" data-field="id" class="th-inner sortable both">
                ID
            </th>
            <th data-sortable="true" data-field="name" class="th-inner sortable both">
                NAME
            </th>
            <th data-sortable="true" data-field="language" class="th-inner sortable both">
                LANGUAGE
            </th>
            <th>
                <a href="/guides/add">
                    <button type="button" class="btn btn-outline-success">create guide</button>
                </a>
            </th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <!--/*@thymesVar id="guides" type="java.util.List<stanislav.tun.novinomad.picasso.persistance.pojos.guide>"*/-->
        <tr th:each="guide:${guides}">
            <td th:text="${guide.getId()}"></td>
            <td>
                <a th:href="@{/picasso/getViewRelatedToGuide{guideId}(guideId=${guide.id})}" th:text="${guide.fullName}"></a>
            </td>

            <td th:text="${guide.getLanguage()}"></td>
            <td>
                <a th:href="@{/guides/edit{id}(id=${guide.getId()})}">
                    <button type="button" class="btn btn-outline-info btn-sm" >edit</button>
                </a>
                <!--                    <button th:target="@{/guides/edit{id}(id=${guide.getId()})}" type="button" class="btn btn-outline-secondary">edit-->
            </td>
            <td>
                <a th:href="@{#}">
                    <button onclick="deleteConfirm()" type="button" class="btn btn-outline-danger btn-sm">delete</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block layout:fragment="script">
<!--    todo: replace to include from webjars-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

    <script type="text/javascript"
            th:src="@{/webjars/bootstrap-table/1.16.0/dist/bootstrap-table.min.js}"></script>

    <script type="text/javascript"
            th:src="@{/webjars/bootstrap-table/1.16.0/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js}">
    </script>

    <script>
        $(document).ready(function () {
            console.log("ready!");
            $("<h4 class=\"text_search_title\" >Guides list</h4>").appendTo(".fixed-table-toolbar");
        });
    </script>
    <script>
        function deleteConfirm() {
            confirm("Are you sure?");
        }
    </script>

</th:block>
</body>
</html>