<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tours</title>
</head>
<body>
<div align="center">
    <h1>Tours</h1>
    <br/>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Tittle</th>
            <th>Start date</th>
            <th>End date</th>

        </tr>
        </thead>

        <tbody>

        <tr th:each="tour:${tours}">
            <td th:text="${tour.id}"/>
            <td th:text="${tour.tittle}"/>
            <td th:datetime-local="${tour.startDate}"/>
            <td th:datetime-local="${tour.endDate}"/>
            <td th:text="${tour.description}"/>
            <table>
                <span th:if="${tour.drivers != null}">
                    <tr th:each="driver:${tour.drivers}">
                        <td th:text="${driver.fullName"></td>
                    </tr>
                </span>
            </table>
        </tr>
        </tbody>
    </table>

    <a href="/tours/add">Add new tour</a>
</div>
</body>
</html>