<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tours</title>
</head>
<body>
<div align="center">
    <h1>Tours</h1>
    <br/>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Tittle</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Total days</th>
            <th>Drivers</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="tour:${toursList}">
            <td th:text="${tour.id}"/>
            <td th:text="${tour.tittle}"/>
            <td th:datetime-local="${tour.startDate}"/>
            <td th:datetime-local="${tour.endDate}"/>
            <td th:text="${tour.days}"></td>
            <td th:text="${tour.description}"/>
            <td th:text="${tour.drivers}"/>
        </tr>
        </tbody>
    </table>

    <a href="/tours/add">Add new tour</a>
</div>
</body>
</html>