<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/picasso.css" th:href="@{/css/picasso.css}" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="content">
    <div>
        <form th:object="${month}">
            <select th:name="month" onchange="this.form.submit()" id="months">
                <option th:selected="${selectedMonth}" selected disabled hidden th:text="${selectedMonth}"></option>
                <option th:value="1">January</option>
                <option th:value="2">February</option>
                <option th:value="3">March</option>
                <option th:value="4">April</option>
                <option th:value="5">May</option>
                <option th:value="6">June</option>
                <option th:value="7">July</option>
                <option th:value="8">August</option>
                <option th:value="9">September</option>
                <option th:value="10">October</option>
                <option th:value="11">November</option>
                <option th:value="12">December</option>
            </select>

            <input th:name="year" type="number" min="2020" max="2099" th:value="${selectedYear}"
                   placeholder="ENTER YEAR">

            <span th:if="${selectedDriver}" th:text="${'Driver: '+selectedDriver.getFullName()}"></span>
            <span th:if="${selectedGuide}" th:text="${'Guide: '+selectedGuide.getFullName()}"></span>


            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered table-sm">
                    <thead>
                    <tr>
                        <th>TITLE</th>

                        <th>GUIDES</th>

                        <th>DRIVERS</th>

                        <th th:each="d: ${days}" th:style="${'width: 2%; text-align: center;'}">
					<span th:style="${d.getDayOfWeek().name().substring(0,2) == 'SA' || d.getDayOfWeek().name().substring(0,2) == 'SU' } ? ${'color: red;'}"
                          th:text="${d.getDayOfWeek().name().substring(0,2)}"></span>
                            <br/>
                            <span th:text="${d.getDayOfMonth() > 9} ? ${d.getDayOfMonth()} : ${'0'+d.getDayOfMonth()}"></span>
                            <!--					<span th:text="${d.getDayOfMonth()}"></span>-->
                        </th>
                    </tr>
                    </thead>

                    <tbody th:style="${'overflow-y: auto;'}">
                    <tr th:each="t: ${tours}">
                        <td th:text="${t.tittle}" th:title="${t.description}"></td>

                        <td>
                <span th:each="g: ${t.guides}">
<!--                    <span th:text="${g.fullName}"></span>-->
	                <a th:href="@{/getViewRelatedToGuide{guideId}(guideId=${g.id})}" th:text="${g.fullName}"></a>
	                <br/>
                </span>
                        </td>

                        <td>
                <span th:each="d: ${t.drivers}">
<!--                    <span th:text="${d.fullName}"></span>-->
	                <a th:href="@{/getViewRelatedToDriver{driverId}(driverId=${d.id})}" th:text="${d.fullName}"></a>
	                <br/>
                </span>
                        </td>

                        <td th:each="d: ${days}" th:style="${'width: 2%; text-align: center;'}">
                            <!--					<span th:if="${d.getDayOfMonth() > t.startDate.dayOfMonth && d.getDayOfMonth() < t.endDate.dayOfMonth}">*</span>-->
                            <!--					<span th:if="${d.getDayOfMonth() == t.startDate.dayOfMonth || d.getDayOfMonth() == t.endDate.dayOfMonth}">|</span>-->
                            <span th:title="${t.getRange().toString()}"
                                  th:if="${d.isAfter(t.startDate.toLocalDate()) && d.isBefore(t.endDate.toLocalDate())}">---</span>
                            <!--					<span th:if="${d.isEqual(t.startDate) || d.isEqual(t.endDate)}">|</span>-->

                            <span th:title="${t.getRange().toString()}"
                                  th:if="${d.isEqual(t.endDate.toLocalDate())}">-|</span>
                            <span th:title="${t.getRange().toString()}" th:if="${d.isEqual(t.startDate.toLocalDate())}">|-</span>

                            <!--					<div class="progress" th:if="${d.isAfter(t.startDate) && d.isBefore(t.endDate)}">-->
                            <!--						<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>-->
                            <!--					</div>-->

                            <!--					<div class="progress" th:if="${d.isEqual(t.endDate)}">-->
                            <!--						<div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>-->
                            <!--					</div>-->

                            <!--					<div class="progress" th:if="${d.isEqual(t.startDate)}">-->
                            <!--						<div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>-->
                            <!--					</div>-->
                        </td>

                        <td>
                            <a th:href="@{/tours/edit{id}(id=${t.id})}">
                                <button type="button" class="btn btn-outline-info btn-sm">edit</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a href="/tours/add">
                <button type="button" class="btn btn-outline-success">add new tour</button>
            </a>
        </form>
    </div>
</div>
</body>
</html>